
@media only screen and (max-width:480px){
    .main{
       transform: scale(0.8);
      
    }
}

@media only screen and (max-width:320px){
    .main{
       transform: scale(0.2);
       position: relative;
       left: 1rem;
    }
}
@media only screen and (max-width:600px){
   .main{
      transform: scale(0.9);
   }
}
@media only screen and (max-width:768px){
   .main{
      transform: scale(0.9);
   }
}


